@import '~bootstrap-icons/font/bootstrap-icons';

.Main{
  font-size: smaller;
}

#dateRange{
    width: 90% !important;
    left: 10%;
    top: 0%;
}

.dropdown-menu{
    background-image: linear-gradient( 108.1deg,  rgba(167,220,225,1) 11.2%, rgba(217,239,242,1) 88.9% );  
}

.btn { 
  
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}

#btn1{
    background-image: linear-gradient(to top, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
    margin: 7% 0 2% 2%;
    float: left;
    border: none;   
    font-size: small;
}

#btn3{
    margin: 7% 0 2% 2%;
    float: left;
    border: none; 
    font-size: small;
}

#btn2{
    background-image: linear-gradient(to top, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
    margin: 7% 33% 2% 0;
    float: right;
    border: none; 
    font-size: small;
}

#red{
    background-color: #FDE2E1;
    color: #981B1C;
}

#green{
    background-color: #DEF7EC;
    color: #03543F;
}

#yellow{
    background-color: #FEF3C7;
    color: #92400F;
}

#main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

footer{
   padding-top: 100px;
}

@media(max-width: 1024px){
    #btn1{
        margin: 10% 0 2% 8% ;
        font-size: 0.5em;
    }

    #main-content{
        flex-direction: column;
    }

    #btn2{
        margin: 10% 7% 2% 0 ;
        font-size: 0.5em;
    }

    .dropdown-item{
        font-size: 0.5em;
    }
}

@media (max-width: 599px) {
    .Main{
        display: none;
    }
}